<div class="collapsible-item">
  <a aria-controls="id-{{ doc.name }}" aria-expanded="false" class="collapsible-title" data-toggle="collapse" href="#id-{{ doc.name }}" role="button">
    <div class="collapsible-item-title">{{ doc.title }}</div>
    <svg class="collapsible-icon" height="24" viewbox="0 0 16 16" width="24" xmlns="http://www.w3.org/2000/svg">
      <path class="vertical" d="M8 4V12" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5"></path>
      <path class="horizontal" d="M4 8H12" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5"></path>
    </svg>
  </a>
  <div class="collapse collapsible-content from-markdown" id="id-{{ doc.name }}">
    <div>
      <ul>
        {% for item in doc.services %}
          <li>
            <a href="/{{ item.route }}">{{ item.keyword or item.title or item.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
