<div class="card">
  <div class="card-header" id="heading{{ doc.name }}">
    <h5 class="mb-0"><button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse{{ doc.name }}" aria-expanded="{{ doc.collapse }}" aria-controls="collapse{{ doc.name }}">{{ doc.title }}</button></h5>
  </div>

  {% if doc.collapse %}
    {%- set collapse = 'collapse show' -%}
  {%- else -%}
    {%- set collapse = 'collapse' -%}
  {%- endif -%}
  <div id="collapse{{ doc.name }}" class="{{ collapse }}" aria-labelledby="heading{{ doc.name }}" data-parent="#accordion">
    <div class="card-body">
      <ul>
        {% for item in doc.services %}
          <li>
            <a href="/{{ item.route }}">{{ item.title or item.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
