<footer id="layout-footer" class="footer">
  <div class="container footer_top">
      <div class="row">
          <div class="col-sm-6">
              <div class="row">
                  <div class="services-short_item-title js-services-short_item-title">Громадянам</div>
                  <div class="services-short_item-box">
                      <div class="services-short_item">
                          <a href="/services/categories/gromadyanam/yerobota"
                              class="services-short_item-link">єРобота</a>
                      </div>
                      <div class="services-short_item">
                          <a href="/services/categories/gromadyanam/pensiyi-pilgi-ta-dopomoga"
                              class="services-short_item-link">Пенсії, пільги та допомога</a>
                      </div>
                      <div class="services-short_item">
                          <a href="/services/categories/gromadyanam/simya"
                              class="services-short_item-link">Сім’я</a>
                      </div>
                      <div class="services-short_item">
                          <a href="/services/categories/gromadyanam/licenziyi-ta-dozvoli"
                              class="services-short_item-link">Ліцензії та дозволи</a>
                      </div>
                      <div class="services-short_item">
                          <a href="/services/categories/gromadyanam/bezpeka-ta-pravoporyadok"
                              class="services-short_item-link">Безпека та правопорядок</a>
                      </div>
                      <div class="services-short_item">
                          <a href="/services/categories/gromadyanam/transport"
                              class="services-short_item-link">Транспорт</a>
                      </div>
                      <div class="services-short_item">
                          <a href="/services/categories/gromadyanam/zemlya-budivnictvo-neruhomist"
                              class="services-short_item-link">Земля, будівництво, нерухомість</a>
                      </div>
                      <div class="services-short_item">
                          <a href="/services/categories/gromadyanam/dovidki-ta-vityagi"
                              class="services-short_item-link">Довідки та витяги</a>
                      </div>
                      <div class="services-short_item">
                          <a href="/services/categories/gromadyanam/navkolishnye-seredovishche"
                              class="services-short_item-link">Навколишнє середовище</a>
                      </div>
                      <div class="services-short_item">
                          <a href="/services/categories/gromadyanam/zdorovya"
                              class="services-short_item-link">Здоров’я</a>
                      </div>
                      <div class="services-short_item">
                          <a href="/services/categories/gromadyanam/dokumenti-ta-gromadyanstvo"
                              class="services-short_item-link">Документи та громадянство</a>
                      </div>
                      <div class="services-short_item">
                          <a href="/services/categories/gromadyanam/pidpriyemnictvo"
                              class="services-short_item-link">Підприємництво</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-sm-6">
              <div class="row">
                  <div class="services-short_item-title js-services-short_item-title">Бізнесу</div>
                  <div class="services-short_item-box">
                      <div class="services-short_item">
                          <a href="/services/categories/biznesu/pidpriyemnictvo"
                              class="services-short_item-link">Підприємництво</a>
                      </div>
                      <div class="services-short_item">
                          <a href="/services/categories/biznesu/yerobota"
                              class="services-short_item-link">єРобота</a>
                      </div>
                      <div class="services-short_item">
                          <a href="/services/categories/biznesu/transport"
                              class="services-short_item-link">Транспорт</a>
                      </div>
                      <div class="services-short_item">
                          <a href="/services/categories/biznesu/vityagi-ta-dovidki"
                              class="services-short_item-link">Витяги та довідки</a>
                      </div>
                      <div class="services-short_item">
                          <a href="/services/categories/biznesu/licenziyi-ta-dozvoli"
                              class="services-short_item-link">Ліцензії та дозволи</a>
                      </div>
                      <div class="services-short_item">
                          <a href="/services/categories/biznesu/medicina-ta-farmacevtika"
                              class="services-short_item-link">Медицина та фармацевтика</a>
                      </div>
                      <div class="services-short_item">
                          <a href="/services/categories/biznesu/zemlya-budivnictvo-neruhomist"
                              class="services-short_item-link">Земля, будівництво, нерухомість</a>
                      </div>
                      <div class="services-short_item">
                          <a href="/services/categories/biznesu/diya-city"
                              class="services-short_item-link">Дія.City</a>
                      </div>
                      <div class="services-short_item">
                          <a href="/services/categories/biznesu/stvorennya-biznesu"
                              class="services-short_item-link">Створення бізнесу</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <hr class="footer_hr">
  <div class="footer_bottom">
      <div class="container">
          <div class="row">
              <div class="col-md-6 col-lg-9">
                  <nav class="menu_footer">
                      <ul class="menu_footer-list">
                          <li class="menu_footer-list-item">
                              <a href="https://plan.diia.gov.ua/" target="_blank"
                                  class="menu_footer-list-link">Що таке Дія</a>
                          </li>
                          <li class="menu_footer-list-item">
                              <a href="https://diia.gov.ua/faq" class="menu_footer-list-link">Питання та
                                  відповіді</a>
                          </li>
                          <li class="menu_footer-list-item">
                              <a href="https://guide.diia.gov.ua" target="_blank"
                                  class="menu_footer-list-link">Гід з державних послуг</a>
                          </li>
                          <li class="menu_footer-list-item">
                              <a href="https://my.diia.gov.ua/" target="_blank"
                                  class="menu_footer-list-link">Увійти до кабінету</a>
                          </li>
                          <li class="menu_footer-list-item">
                              <a href="https://diia.gov.ua/services" class="menu_footer-list-link">Перелік
                                  послуг</a>
                          </li>
                          <li class="menu_footer-list-item">
                              <a href="https://prozorro.gov.ua" target="_blank"
                                  class="menu_footer-list-link">Prozorro</a>
                          </li>
                          <li class="menu_footer-list-item">
                              <a href="https://my.diia.gov.ua/" target="_blank"
                                  class="menu_footer-list-link">Зареєструватися</a>
                          </li>
                          <li class="menu_footer-list-item">
                              <a href="https://diia.gov.ua/vikoristannya-logotipu-diya"
                                  class="menu_footer-list-link">Використання логотипу Дія</a>
                          </li>
                          <li class="menu_footer-list-item">
                              <a href="https://id.gov.ua/" target="_blank"
                                  class="menu_footer-list-link">id.gov.ua</a>
                          </li>
                          <li class="menu_footer-list-item">
                              <a href="https://diia.gov.ua/policy" class="menu_footer-list-link">Обробка
                                  персональних даних</a>
                          </li>
                          <li class="menu_footer-list-item">
                              <a href="https://diia.gov.ua/dogovir-priyednannya-dlya-partneriv"
                                  class="menu_footer-list-link">Договір приєднання для партнерів</a>
                          </li>
                          <li class="menu_footer-list-item">
                              <a href="https://www.kmu.gov.ua/" target="_blank"
                                  class="menu_footer-list-link">Урядовий портал</a>
                          </li>
                      </ul>
                  </nav>
              </div>
              <div class="col-md-6 col-lg-3 socials_footer-wrap">
                  <div class="socials_footer-title">Слідкуй за нами тут:</div>
                  <ul class="socials socials_footer fa-white">
                      <li>
                          <a href="https://www.facebook.com/diia.gov.ua" target="_blank" rel="nofollow">
                              <i class="fa fa-facebook"></i>
                          </a>
                      </li>
                      <li>
                          <a href="https://t.me/diia_gov" target="_blank" rel="nofollow">
                              <i class="fa fa-telegram"></i>
                          </a>
                      </li>
                      <li>
                          <a href="https://www.instagram.com/diia.gov.ua/" target="_blank" rel="nofollow">
                              <i class="fa fa-instagram"></i>
                          </a>
                      </li>
                      <li>
                          <a href="https://vb.me/diia" target="_blank" rel="nofollow">
                              <i class="fa fa-viber"></i>
                          </a>
                      </li>
                  </ul>
              </div>
              <div class="col-lg-6">
                  <div class="row footer_divider">
                      <div class="col-sm-6">
                          <div class="dev-company">
                              <div class="dev-company_icon">
                                  <div class="dev-company_icon-item dev-company_icon-gerb"></div>
                                  <div class="dev-company_icon-item dev-company_icon-diya"></div>
                              </div>
                              <div class="dev-company_text">
                                  <p>diia.gov.ua</p>
                                  <p>2019 - 2023. Всі права захищені.</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-6 d-none d-sm-block">
                          <div class="footer_banner"
                              style="background-image: url(https://diia.gov.ua/themes/diia/assets/images/reddot.svg)">
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="row">
                      <div class="col-5 d-block d-sm-none">
                          <div class="footer_banner"
                              style="background-image: url(https://diia.gov.ua/themes/diia/assets/images/reddot.svg)">
                          </div>
                      </div>
                      <div class="col-7 col-sm-12">
                          <div class="store">
                              <a href="https://apps.apple.com/us/app/дія/id1489717872"
                                  title="Завантажити з ‎App Store" class="store-apple" target="_blank"
                                  rel="noopener noreferrer"></a>
                              <a href="https://play.google.com/store/apps/details?id=ua.gov.diia.app"
                                  title="Завантажити з ‎Google Play‎" class="store-google" target="_blank"
                                  rel="noopener noreferrer"></a>
                              <a href="https://bit.ly/2A4TxzB" title="Завантажити з HUAWEI AppGallery"
                                  class="store-app-gallery" target="_blank" rel="noopener noreferrer"></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>
</div>
<div class="scrollbar cookies js-cookies">
<div class="cookies-1 js-cookies-1">
  <div class="cookies-1_close"></div>
  <div class="cookies-1_title">Файли Cookie</div>
  <div class="cookies-1_info">
      Дія не зберігає дані, але використовує cookies щоб працювати правильно.
      Натисніть «Дозволити всі», якщо ви погоджуєтесь на використання порталом цих файлів.
  </div>
  <div class="cookies-1_btn-wrap">
      <a href="javascript:void(0)" class="btn btn-fill cookies-1_btn cookies-1_btn-1">Дозволити всі</a>
      <a href="javascript:void(0)" class="btn btn_default cookies-1_btn cookies-1_btn-2">
          <span>Налаштувати</span>
      </a>
  </div>
</div>
<div class="cookies-2 js-cookies-2">
  <div class="cookies-2_close"></div>
  <div class="cookies-2_title">Центр налаштування конфіденційності</div>
  <div class="cookies-2_info">
      Ваш браузер зберігає та отримує інформацію у формі cookie файлів.
      Вона може стосуватись вас, ваших інтересів або вашого пристрою.
      Ця інформація не ідентифікує безпосередньо вас, але персоналізує ваш вебдосвід.
      Файли cookie потрібні для того, щоб персоналізувати ваше користування Порталом
      та зробити його приємнішим і зручнішим.
  </div>
  <div class="cookies-2-acc_wrap">
      <div class="cookies-2-acc_i">
          <div class="cookies-2-acc_i-top">
              <div class="cookies-2-acc_i-check agree_wrap">
                  <label for="test-1" class="agree_wrap-inner disabled">
                      <input id="test-1" class="checkbox disabled" type="checkbox" name="" value="" checked>
                      <label for="test-1"></label>
                  </label>
              </div>
              <div class="cookies-2-acc_i-text">Обов’язкові файли cookie</div>
              <div class="cookies-2-acc_i-btn js-cookies-2-acc_i-btn"></div>
          </div>
          <div class="cookies-2-acc_collapse collapse">
              <div class="cookies-2-acc_i-info">
                  Вони потрібні, щоб реагувати на ваші запити, початок сеансу,
                  авторизацію чи заповнення форм. Ви можете налаштувати свій браузер так,
                  щоб він блокував ці файли або ж сповіщав про їх використання.
                  У такому разі деякі частини Порталу не працюватимуть.
                  Cookie не зберігають особисту інформацію
              </div>
          </div>
      </div>
  </div>
  <div class="cookies-2_btn-wrap">
      <a href="javascript:void(0)"
          class="btn btn-fill cookies-2_btn cookies-2_btn-1 js-cookies-2_btn-1">Дозволити всі</a>
  </div>
</div>
</div>
<div class="chatbot">
<div class="chatbot_content" id="chatbot_content">
  <div class="chatbot_list">
      <a href="https://t.me/Diia_help_bot?start=X3VybD0lMkZsaW5rJmQ9Mg" class="chatbot_item"
          rel="noopener noreferrer" target="_blank">
          <div class="chatbot_item-icn icn-chatbot_tl"></div>
          <div class="chatbot_item-text">Telegram</div>
      </a>
      <a href="viber://pa?chatURI=diia_help_bot&context=X3VybD0lMkZsaW5rJmQ9Mg==" class="chatbot_item"
          rel="noopener noreferrer" target="_blank">
          <div class="chatbot_item-icn icn-chatbot_vb"></div>
          <div class="chatbot_item-text">Viber</div>
      </a>
      <a href="https://m.me/105597857511240?ref=X3VybD0lMkZsaW5rJmQ9Mg==" class="chatbot_item"
          rel="noopener noreferrer" target="_blank">
          <div class="chatbot_item-icn icn-chatbot_fb"></div>
          <div class="chatbot_item-text">Messenger</div>
      </a>
  </div>
</div>
<div class="chatbot_btn" id="chatbot_btn" title="Чат бот"></div>
</div>
<div class="d-none" id="page-hash" data-hash=""></div>
<div class="overlay-full-screen"></div>
<div class="browser_container">
<!--  HEADER  -->
<div class="browser_header">
  <div class="browser_header-version">
      <div class="browser_header-title">Outdated Browser</div>
      <div class="browser_header-text">Для комфортної роботи в Мережі потрібен сучасний браузер. Тут можна
          знайти останні версії.</div>
  </div>
  <div class="browser_header-version-m">
      <div class="browser_header-title">Outdated Browser</div>
      <div class="browser_header-text">Цей сайт призначений для комп'ютерів, але <br>ви можете вільно
          користуватися ним.</div>
  </div>
</div>
<section class="browser_list">
  <!-- BROWSER - Chrome -->
  <div class="browser browser-chrome">
      <div class="browser_statistic">
          <div class="browser_statistic-big">67.15%</div>
          <div class="browser_statistic-small">людей використовує<br>цей браузер</div>
      </div>
      <div class="browser-center">
          <div class="browser-logo chrome"></div>
          <div class="browser-name">Google Chrome</div>
          <div class="browser_load">
              <a href="https://www.google.com/chrome/browser/desktop" target="_blank"
                  class="browser_load-link chrome">Завантажити</a>
          </div>
      </div>
      <div class="browser_available">
          <div class="browser_available-title">
              Доступно для
          </div>
          <ul class="browser_os">
              <li class="browser_os-item windows">
                  <span>Windows</span>
              </li>
              <li class="browser_os-item mac">
                  <span>Mac OS</span>
              </li>
              <li class="browser_os-item linux">
                  <span>Linux</span>
              </li>
          </ul>
      </div>
  </div>
  <!-- BROWSER - Firefox -->
  <div class="browser browser-firefox">
      <div class="browser_statistic">
          <div class="browser_statistic-big">9.6%</div>
          <div class="browser_statistic-small">людей використовує<br>цей браузер</div>
      </div>
      <div class="browser-center">
          <div class="browser-logo firefox"></div>
          <div class="browser-name">Mozilla Firefox</div>
          <div class="browser_load">
              <a href="https://www.mozilla.org/firefox/new/" target="_blank"
                  class="browser_load-link firefox">Завантажити</a>
          </div>
      </div>
      <div class="browser_available">
          <div class="browser_available-title">
              Доступно для
          </div>
          <ul class="browser_os">
              <li class="browser_os-item windows">
                  <span>Windows</span>
              </li>
              <li class="browser_os-item mac">
                  <span>Mac OS</span>
              </li>
              <li class="browser_os-item linux">
                  <span>Linux</span>
              </li>
          </ul>
      </div>
  </div>
  <!-- BROWSER - Internet Explorer -->
  <div class="browser browser-edge">
      <div class="browser_statistic">
          <div class="browser_statistic-big">4.5%</div>
          <div class="browser_statistic-small">людей використовує<br>цей браузер</div>
      </div>
      <div class="browser-center">
          <div class="browser-logo edge"></div>
          <div class="browser-name">Microsoft Edge</div>
          <div class="browser_load">
              <a href="https://www.microsoft.com/software-download/windows10" target="_blank"
                  class="browser_load-link edge">Завантажити</a>
              <div class="browser_load-info">Доступний тільки з Windows 10</div>
          </div>
      </div>
      <div class="browser_available">
          <div class="browser_available-title">
              Доступно для
          </div>
          <ul class="browser_os">
              <li class="browser_os-item windows">
                  <span>Windows</span>
              </li>
          </ul>
      </div>
  </div>
  <!-- BROWSER - Safari -->
  <div class="browser browser-safari">
      <div class="browser_statistic">
          <div class="browser_statistic-big">6.5%</div>
          <div class="browser_statistic-small">людей використовує<br>цей браузер</div>
      </div>
      <div class="browser-center">
          <div class="browser-logo safari"></div>
          <div class="browser-name">Apple Safari</div>
          <div class="browser_load">
              <a href="https://www.apple.com/macos/how-to-upgrade/" target="_blank"
                  class="browser_load-link safari">Завантажити</a>
              <div class="browser_load-info">Доступний тільки з macOS</div>
          </div>
      </div>
      <div class="browser_available">
          <div class="browser_available-title">
              Доступно для
          </div>
          <ul class="browser_os">
              <li class="browser_os-item mac">
                  <span>Mac OS</span>
              </li>
          </ul>
      </div>
  </div>
  <!-- BROWSER - Opera -->
  <div class="browser browser-opera">
      <div class="browser_statistic">
          <div class="browser_statistic-big">3.15%</div>
          <div class="browser_statistic-small">людей використовує<br>цей браузер</div>
      </div>
      <div class="browser-center">
          <div class="browser-logo opera"></div>
          <div class="browser-name">Opera</div>
          <div class="browser_load">
              <a href="https://www.opera.com/computer" target="_blank"
                  class="browser_load-link opera">Завантажити</a>
          </div>
      </div>
      <div class="browser_available">
          <div class="browser_available-title">
              Доступно для
          </div>
          <ul class="browser_os">
              <li class="browser_os-item windows">
                  <span>Windows</span>
              </li>
              <li class="browser_os-item mac">
                  <span>Mac OS</span>
              </li>
              <li class="browser_os-item linux">
                  <span>Linux</span>
              </li>
          </ul>
      </div>
  </div>
</section>
</div>
<script async>
(function () {
  var IE10 = (window.navigator.userAgent.indexOf('MSIE') > -1 ? true : false);
  var IE11 = (window.navigator.userAgent.indexOf("Trident") > -1 ? true : false);
  if (IE10 || IE11) {
      var items = document.querySelectorAll('.browser');
      if (items.length) {
          for (var i = 0; i < items.length; i++) {
              items[i].addEventListener('mouseenter', function (e) {
                  var target = e.target;
                  target.className.indexOf('browser-expanded') > -1 ? '' : target.classList.add('browser-expanded');
              });
              items[i].addEventListener('mouseleave', function (e) {
                  var target = e.target;
                  target.className.indexOf('browser-expanded') > -1 ? target.classList.remove('browser-expanded') : '';
              });
          }
      }
  }
})();
</script>