{% extends 'templates/web.html' %}
{% block title %}
{{ title }}
{% endblock %}
{% block header %}
<h3 class="my-account-header">{{ title }}</h3>
{% endblock %}

{% block page_content %}
{% import "/asc_web/doctype/asc_diia_thematic_area/templates/thematic_area_card.html" as macros %}
<div class="website-list py-5">
	<div class="container">
		<div id="thematic-area-list" class="row">
			{% for area in thematic_areas %}
			{{ macros.render_thematic_area_card(area) }}
			{% endfor %}
		</div>
	</div>
</div>
<section class="container ">
	{% import "/asc_web/doctype/asc_news/templates/asc_news_macro.html" as macros %}
	{{ macros.render_5_news(last_news) }}

</section>
{% endblock %}