<div class="header_menu">
    <nav class="menu-m">
      <div class="menu-m_content">
        <div class="menu-m_top">
          <a href="{{ url_prefix }}{{ home_page or '/' }}" class="menu-m_logo">
            {%- if brand_html -%}
              {{ brand_html }}
            {%- elif banner_image -%}
              <img src="{{ banner_image }}" />
            {% else %}
              <span>{{ frappe.get_hooks('brand_html') or [_('Home')][0] }}</span>
            {%- endif -%}
          </a>
          <div class="menu-m_search">Пошук</div>
          <div class="menu-m_close"></div>
        </div>
        {% include 'templates/includes/navbar/navbar_items_mobile.html' %}
      </div>
    </nav>

    {% include 'templates/includes/navbar/navbar_login_mobile.html' %}
  </div>
  {% include 'templates/includes/navbar/navbar_find_mobile.html' %}