<div class="header-sm_toggle">
  <a href="{{ url_prefix }}{{ home_page or '/' }}" class="header-sm_logo" title="На головну сторінку">
    {%- if brand_html -%}
      {{ brand_html }}
    {%- elif banner_image -%}
      <img src="{{ banner_image }}" />
    {% else %}
      <span>{{ frappe.get_hooks('brand_html') or [_('Home')][0] }}</span>
    {%- endif -%}
  </a>
  <div class="header_toggle-icon js-header_toggle-icon"></div>
</div>
<div class="header-sm_fixed">
  <div class="header-sm_fixed-inner">
    <a href="{{ url_prefix }}{{ home_page or '/' }}" class="header-sm_logo" title="На головну сторінку">
      {%- if brand_html -%}
        {{ brand_html }}
      {%- elif banner_image -%}
        <img src="{{ banner_image }}" />
      {% else %}
        <span>{{ frappe.get_hooks('brand_html') or [_('Home')][0] }}</span>
      {%- endif -%}
    </a>

    {% include 'templates/includes/navbar/navbar_items_standard.html' %}

    {% include 'templates/includes/navbar/navbar_find_standard.html' %}
    {% include 'templates/includes/navbar/navbar_login_standard.html' %}
  </div>
  {% if top_bar_items -%}
    {%- for item in top_bar_items -%}
      {% if not item.parent_label -%}
        {% if item.child_items %}
          {%- set dropdown_id = 'menu-sub-' + (loop.index|string) -%}
          <div class="menu-sub" id="{{ dropdown_id }}">
            <div class="menu-sub_inner">
              <div class="container">
                <div class="row">

                  {% for child in item.child_items %}
                  {% if loop.index0 % 4 == 0 %}
                  <div class="col-lg-6">
                    <ul class="menu-sub_list">
                      {% endif %}
                      {% set url = child.url or '' %}
			                {% set url = url if url.startswith('#') else url | abs_url %}
                        <li class="menu-sub_list-item diia-animated">
                          <a href="{{url}}" class="menu-sub_list-link" target="_blank">{{ child.label }}</a>
                        </li>
                      {% if loop.index % 4 == 0 %}
                    </ul>
                  </div>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {%- endif -%}
    {%- endfor %}
  {% endif %}
</div>
