{% if top_bar_items -%}
  <nav class="menu">
    <ul class="menu_list">
      {%- for item in top_bar_items -%}
        {% if not item.parent_label -%}
          {% if item.child_items %}
            {%- set dropdown_id = 'menu-sub-' + (loop.index|string) -%}

            <li class="menu_list-item">
              <a href="javascript:void(0)" class="menu_list-link menu_list-link-sub" data-menu-target="{{ dropdown_id }}">{{ _(item.label) }}</a>
            </li>
          {% else %}
            {% set url = item.url or '' %}
			      {% set url = url if url.startswith('#') else url | abs_url %}

            <li class="menu_list-item">
              <a href="{{ url }}" class="menu_list-link">{{ _(item.label) }}</a>
            </li>
          {% endif %}
        {%- endif -%}
      {%- endfor %}
    </ul>
  </nav>
{%- endif %}
