<div class="menu-sub" id="menu-sub-1">
    <div class="menu-sub_inner">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <a href="javascript:void(0)" class="menu-sub_title">Громадянам</a>
            <ul class="menu-sub_list">
              <li class="menu-sub_list-item diia-animated">
                <a href="https://diia.gov.ua/services/categories/gromadyanam/dovidki-ta-vityagi" class="menu-sub_list-link">Довідки та витяги</a>
              </li>
              <li class="menu-sub_list-item diia-animated">
                <a href="https://diia.gov.ua/services/categories/gromadyanam/transport" class="menu-sub_list-link">Транспорт</a>
              </li>
              <li class="menu-sub_list-item diia-animated">
                <a href="https://diia.gov.ua/services/categories/gromadyanam/navkolishnye-seredovishche" class="menu-sub_list-link">Навколишнє середовище</a>
              </li>
              <li class="menu-sub_list-item diia-animated">
                <a href="https://diia.gov.ua/services/categories/gromadyanam/zemlya-budivnictvo-neruhomist" class="menu-sub_list-link">Земля, будівництво, нерухомість</a>
              </li>
              <li class="menu-sub_list-item diia-animated">
                <a href="https://diia.gov.ua/services/categories/gromadyanam/bezpeka-ta-pravoporyadok" class="menu-sub_list-link">Безпека та правопорядок</a>
              </li>
              <li class="menu-sub_list-item diia-animated">
                <a href="https://diia.gov.ua/services/categories/gromadyanam/licenziyi-ta-dozvoli" class="menu-sub_list-link">Ліцензії та дозволи</a>
              </li>
              <li class="menu-sub_list-item diia-animated">
                <a href="https://diia.gov.ua/services/categories/gromadyanam/simya" class="menu-sub_list-link">Сім’я</a>
              </li>
              <li class="menu-sub_list-item diia-animated">
                <a href="https://diia.gov.ua/services/categories/gromadyanam/zdorovya" class="menu-sub_list-link">Здоров&#039;я</a>
              </li>
              <li class="menu-sub_list-item diia-animated">
                <a href="https://diia.gov.ua/services/categories/gromadyanam/pidpriyemnictvo" class="menu-sub_list-link">Підприємництво</a>
              </li>
              <li class="menu-sub_list-item diia-animated">
                <a href="https://diia.gov.ua/services/categories/gromadyanam/pensiyi-pilgi-ta-dopomoga" class="menu-sub_list-link">Пенсії, пільги та допомога</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-6">
            <a href="javascript:void(0)" class="menu-sub_title">Бізнесу</a>
            <ul class="menu-sub_list">
              <li class="menu-sub_list-item diia-animated">
                <a href="https://diia.gov.ua/services/categories/biznesu/zemlya-budivnictvo-neruhomist" class="menu-sub_list-link">Земля, будівництво, нерухомість</a>
              </li>
              <li class="menu-sub_list-item diia-animated">
                <a href="https://diia.gov.ua/services/categories/biznesu/medicina-ta-farmacevtika" class="menu-sub_list-link">Медицина та фармацевтика</a>
              </li>
              <li class="menu-sub_list-item diia-animated">
                <a href="https://diia.gov.ua/services/categories/biznesu/licenziyi-ta-dozvoli" class="menu-sub_list-link">Ліцензії та дозволи</a>
              </li>
              <li class="menu-sub_list-item diia-animated">
                <a href="https://diia.gov.ua/services/categories/biznesu/vityagi-ta-dovidki" class="menu-sub_list-link">Витяги та довідки</a>
              </li>
              <li class="menu-sub_list-item diia-animated">
                <a href="https://diia.gov.ua/services/categories/biznesu/transport" class="menu-sub_list-link">Транспорт</a>
              </li>
              <li class="menu-sub_list-item diia-animated">
                <a href="https://diia.gov.ua/services/categories/biznesu/stvorennya-biznesu" class="menu-sub_list-link">Створення бізнесу</a>
              </li>
              <li class="menu-sub_list-item diia-animated">
                <a href="https://diia.gov.ua/services/categories/biznesu/diya-city" class="menu-sub_list-link">Дія.City</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="hr-header"></div>
        <div class="row">
          <div class="col-lg-6">
            <a href="https://guide.diia.gov.ua/" target="_blank" class="menu-sub_list-link arrow">Гід з державних послуг</a>
          </div>
        </div>
      </div>
    </div>
  </div>