<ul class="menu-m_list">

  {%- for item in top_bar_items -%}
  <li class="menu-m_list-item">
  {% if not item.parent_label -%}
    {% if item.child_items %}
      {%- set dropdown_id = 'menu-sub-' + (loop.index|string) -%}
      <a href="javascript:void(0)" class="menu-m_link-childs">{{ _(item.label) }}</a>
      <div class="menu-m-sub_wrap">
        
        {% for child in item.child_items %}
                  {% if loop.index0 % 4 == 0 %}
                  <div class="menu-m-sub">
                      {% endif %}
                      {% set url = child.url or '' %}
			                {% set url = url if url.startswith('#') else url | abs_url %}
            

                        <div class="menu-m-sub-sub_item">
                          <a href="{{url}}" class="menu-m-sub-sub_link" target="_blank">{{ child.label }}</a>
                        </div>
                      {% if loop.index % 4 == 0 %}
                    
                  </div>
                  {% endif %}
                  {% endfor %}

    {% else %}
      {% set url = item.url or '' %}
      {% set url = url if url.startswith('#') else url | abs_url %}

        <a href="{{ url }}" target="_blank" class="menu-m_link">{{ _(item.label) }}</a>

    {% endif %}
  {%- endif -%}
</li>
{%- endfor %}
</ul>


