<div class="nav-menu">
    <div class="search-icon">
        <img src="/assets/asc/img/search-icon.svg" alt="">
    </div>
    <div class="search-window">
        <div class="close"></div>
        <form method="get" action="/find">
            <h3>Пошук</h3>
            <br>
            <div class="stylyzed-input">
                <input id="main-search-form-text" name="text" type="text" autocomplete="off" required>
                <label class="input-label" for="main-search-form-text">
                    <span class="input-span">Введіть ваш пошуковий запит</span>
                </label>
            </div>
            <button type="submit" style="width: 100%;" class="black-button">Знайти</button>

        </form>
    </div>
    <div class="accessibility">
        <img src="/assets/asc/img/vision-icon.svg" alt="">
    </div>
    {% include "templates/includes/navbar/navbar_items_mobile.html"%}
</div>
</div>





{# <ul class="ml-auto navbar-nav">
    {% include "templates/includes/navbar/navbar_search.html" %}
    {%- for item in top_bar_items -%}
    {% if not item.parent_label and item.right -%}
    {{ render_item(item, parent=True) }}
    {%- endif -%}
    {%- endfor %}
    {% if not only_static %}
    {% block navbar_right_extension %}{% endblock %}
    {% endif %}

    {% if show_sidebar and sidebar_items %}
    <div class="d-block d-lg-none">
        <hr>
        {% for item in sidebar_items -%}
        <li class="nav-item">
            {% if item.type != 'input' %}
            <a href="{{ item.route }}" class="nav-link {{ 'text-dark' if pathname==item.route else 'text-muted'}}" {% if
                item.target %}target="{{ item.target }}" {% endif %}>
                {{ _(item.title or item.label) }}
            </a>
            {% endif %}
        </li>
        {%- endfor %}
        <hr>
    </div>
    {% endif %}

    {% if read_only_mode %}
    <div class="indicator-pill yellow no-indicator-dot align-self-center" title="{{ _(" This site is in read only mode,
        full functionality will be restored soon.") }}">
        {{ _("Read Only Mode") }}
    </div>
    {% endif %}

    {% include "templates/includes/navbar/navbar_login.html" %}

</ul>
{%- if call_to_action -%}
<a class="btn btn-primary navbar-cta" href="{{ call_to_action_url | abs_url }}">
    {{ call_to_action }}
</a>
{%- endif -%} #}