<nav class="menu">
    <ul class="menu_list">
      <li class="menu_list-item">
        <a href="javascript:void(0)" class="menu_list-link menu_list-link-sub" data-menu-target="menu-sub-1">Послуги</a>
      </li>
      <li class="menu_list-item">
        <a href="https://plan.diia.gov.ua/" target="_blank" class="menu_list-link">Що таке Дія</a>
      </li>
      <li class="menu_list-item">
        <a href="https://diia.gov.ua/news" class="menu_list-link">Новини</a>
      </li>
      <li class="menu_list-item">
        <a href="https://diia.gov.ua/faq" class="menu_list-link">Питання та відповіді</a>
      </li>
      <li class="menu_list-item">
        <a href="javascript:void(0)" class="menu_list-link menu_list-link-sub" data-menu-target="menu-sub-5">Ще</a>
      </li>
    </ul>
  </nav>