<header id="layout-header" class="header-sm">
  <div class="header-sm_toggle">
    <a href="{{ url_prefix }}{{ home_page or '/' }}" class="header-sm_logo" title="На головну сторінку">
      {%- if brand_html -%}
        {{ brand_html }}
      {%- elif banner_image -%}
        <img src="{{ banner_image }}" />
      {% else %}
        <span>{{ frappe.get_hooks('brand_html') or [_('Home')][0] }}</span>
      {%- endif -%}
    </a>
    <div class="header_toggle-icon js-header_toggle-icon"></div>
  </div>
  <div class="header-sm_fixed">
    <div class="header-sm_fixed-inner">
      <a href="{{ url_prefix }}{{ home_page or '/' }}" class="header-sm_logo" title="На головну сторінку">
        {%- if brand_html -%}
          {{ brand_html }}
        {%- elif banner_image -%}
          <img src="{{ banner_image }}" />
        {% else %}
          <span>{{ frappe.get_hooks('brand_html') or [_('Home')][0] }}</span>
        {%- endif -%}
      </a>
     
      {% include 'templates/includes/navbar/navbar_menu_main.html' %}


      {% include 'templates/includes/navbar/navbar_find_standard.html' %}
      {% include 'templates/includes/navbar/navbar_login_standard.html' %}


    </div>
    {% include 'templates/includes/navbar/navbar_items_sub1_standard.html' %}
    {% include 'templates/includes/navbar/navbar_items_sub5_standard.html' %}
  </div>
  <div class="header_menu">
    <nav class="menu-m">
      <div class="menu-m_content">
        <div class="menu-m_top">
          <a href="https://diia.gov.ua" class="menu-m_logo">
            {%- if brand_html -%}
              {{ brand_html }}
            {%- elif banner_image -%}
              <img src="{{ banner_image }}" />
            {% else %}
              <span>{{ frappe.get_hooks('brand_html') or [_('Home')][0] }}</span>
            {%- endif -%}
          </a>
          <div class="menu-m_search">Пошук</div>
          <div class="menu-m_close"></div>
        </div>
        <ul class="menu-m_list">
          <li class="menu-m_list-item">
            <a href="javascript:void(0)" class="menu-m_link-childs">Послуги</a>
            <div class="menu-m-sub_wrap">
              <div class="menu-m-sub">
                <a href="javascript:void(0)" class="menu-m-sub_link-childs">Громадянам</a>
                <div class="menu-m-sub-sub">
                  <div class="menu-m-sub-sub_top">
                    <div class="menu-m-sub-sub_back">Громадянам</div>
                    <div class="menu-m-sub-sub_close"></div>
                  </div>
                  <div class="menu-m-sub-sub_item">
                    <a href="https://diia.gov.ua/services/categories/gromadyanam/dovidki-ta-vityagi" class="menu-m-sub-sub_link">Довідки та витяги</a>
                  </div>
                  <div class="menu-m-sub-sub_item">
                    <a href="https://diia.gov.ua/services/categories/gromadyanam/transport" class="menu-m-sub-sub_link">Транспорт</a>
                  </div>
                  <div class="menu-m-sub-sub_item">
                    <a href="https://diia.gov.ua/services/categories/gromadyanam/navkolishnye-seredovishche" class="menu-m-sub-sub_link">Навколишнє середовище</a>
                  </div>
                  <div class="menu-m-sub-sub_item">
                    <a href="https://diia.gov.ua/services/categories/gromadyanam/zemlya-budivnictvo-neruhomist" class="menu-m-sub-sub_link">Земля, будівництво, нерухомість</a>
                  </div>
                  <div class="menu-m-sub-sub_item">
                    <a href="https://diia.gov.ua/services/categories/gromadyanam/bezpeka-ta-pravoporyadok" class="menu-m-sub-sub_link">Безпека та правопорядок</a>
                  </div>
                  <div class="menu-m-sub-sub_item">
                    <a href="https://diia.gov.ua/services/categories/gromadyanam/licenziyi-ta-dozvoli" class="menu-m-sub-sub_link">Ліцензії та дозволи</a>
                  </div>
                  <div class="menu-m-sub-sub_item">
                    <a href="https://diia.gov.ua/services/categories/gromadyanam/simya" class="menu-m-sub-sub_link">Сім’я</a>
                  </div>
                  <div class="menu-m-sub-sub_item">
                    <a href="https://diia.gov.ua/services/categories/gromadyanam/zdorovya" class="menu-m-sub-sub_link">Здоров&#039;я</a>
                  </div>
                  <div class="menu-m-sub-sub_item">
                    <a href="https://diia.gov.ua/services/categories/gromadyanam/pidpriyemnictvo" class="menu-m-sub-sub_link">Підприємництво</a>
                  </div>
                  <div class="menu-m-sub-sub_item">
                    <a href="https://diia.gov.ua/services/categories/gromadyanam/pensiyi-pilgi-ta-dopomoga" class="menu-m-sub-sub_link">Пенсії, пільги та допомога</a>
                  </div>
                </div>
              </div>
              <div class="menu-m-sub">
                <a href="javascript:void(0)" class="menu-m-sub_link-childs">Бізнесу</a>
                <div class="menu-m-sub-sub">
                  <div class="menu-m-sub-sub_top">
                    <div class="menu-m-sub-sub_back">Бізнесу</div>
                    <div class="menu-m-sub-sub_close"></div>
                  </div>
                  <div class="menu-m-sub-sub_item">
                    <a href="https://diia.gov.ua/services/categories/biznesu/zemlya-budivnictvo-neruhomist" class="menu-m-sub-sub_link">Земля, будівництво, нерухомість</a>
                  </div>
                  <div class="menu-m-sub-sub_item">
                    <a href="https://diia.gov.ua/services/categories/biznesu/medicina-ta-farmacevtika" class="menu-m-sub-sub_link">Медицина та фармацевтика</a>
                  </div>
                  <div class="menu-m-sub-sub_item">
                    <a href="https://diia.gov.ua/services/categories/biznesu/licenziyi-ta-dozvoli" class="menu-m-sub-sub_link">Ліцензії та дозволи</a>
                  </div>
                  <div class="menu-m-sub-sub_item">
                    <a href="https://diia.gov.ua/services/categories/biznesu/vityagi-ta-dovidki" class="menu-m-sub-sub_link">Витяги та довідки</a>
                  </div>
                  <div class="menu-m-sub-sub_item">
                    <a href="https://diia.gov.ua/services/categories/biznesu/transport" class="menu-m-sub-sub_link">Транспорт</a>
                  </div>
                  <div class="menu-m-sub-sub_item">
                    <a href="https://diia.gov.ua/services/categories/biznesu/stvorennya-biznesu" class="menu-m-sub-sub_link">Створення бізнесу</a>
                  </div>
                  <div class="menu-m-sub-sub_item">
                    <a href="https://diia.gov.ua/services/categories/biznesu/diya-city" class="menu-m-sub-sub_link">Дія.City</a>
                  </div>
                </div>
              </div>
              <div class="menu-m-sub">
                <a href="https://guide.diia.gov.ua/" target="_blank" class="menu-m-sub_link">Гід з державних послуг</a>
              </div>
            </div>
          </li>
          <li class="menu-m_list-item">
            <a href="https://plan.diia.gov.ua/" target="_blank" class="menu-m_link">Що таке Дія</a>
          </li>
          <li class="menu-m_list-item">
            <a href="https://diia.gov.ua/news" class="menu-m_link">Новини</a>
          </li>
          <li class="menu-m_list-item">
            <a href="https://diia.gov.ua/faq" class="menu-m_link">Питання та відповіді</a>
          </li>
          <li class="menu-m_list-item">
            <a href="javascript:void(0)" class="menu-m_link-childs">Ще</a>
            <div class="menu-m-sub_wrap">
              <div class="menu-m-sub">
                <div class="menu-m-sub-sub_item">
                  <a href="https://business.diia.gov.ua" class="menu-m-sub-sub_link" target="_blank">Дія. Бізнес</a>
                </div>
                <div class="menu-m-sub-sub_item">
                  <a href="https://osvita.diia.gov.ua" class="menu-m-sub-sub_link" target="_blank">Дія. Цифрова освіта</a>
                </div>
                <div class="menu-m-sub-sub_item">
                  <a href="https://vzaemo.diia.gov.ua/" class="menu-m-sub-sub_link" target="_blank">ВзаємоДія</a>
                </div>
                <div class="menu-m-sub-sub_item">
                  <a href="https://paperless.diia.gov.ua/" class="menu-m-sub-sub_link" target="_blank">Paperless</a>
                </div>
              </div>
              <div class="menu-m-sub">
                <div class="menu-m-sub-sub_item">
                  <a href="https://diia.data.gov.ua/" class="menu-m-sub-sub_link" target="_blank">Дія. Відкриті дані</a>
                </div>
                <div class="menu-m-sub-sub_item">
                  <a href="https://data.gov.ua/" class="menu-m-sub-sub_link" target="_blank">Портал відкритих даних</a>
                </div>
                <div class="menu-m-sub-sub_item">
                  <a href="https://bf.diia.gov.ua/" class="menu-m-sub-sub_link" target="_blank">Дія. Безбар&#039;єрність</a>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    {% include 'templates/includes/navbar/navbar_login_mobile.html' %}
  </div>
  {% include 'templates/includes/navbar/navbar_find_mobile.html' %}
</header>
