<nav class="colored">
    <div class="nav-logo">
        <a class="navbar-brand" href="{{ url_prefix }}{{ home_page or " /" }}">
            {%- if brand_html -%}
            {{ brand_html }}
            {%- elif banner_image -%}
            <img src='{{ banner_image }}'>
            {%- else -%}
            <span>{{ (frappe.get_hooks("brand_html") or [_("Home")])[0] }}</span>
            {%- endif -%}
        </a>
    </div>
    {% include "templates/includes/navbar/navbar_items_no_mobile.html"%}
    {#{% include "templates/includes/navbar/navbar_items_mobile.html"%} #}

    {% include "templates/includes/navbar/navbar_items.html" %}
</nav>