<div class="menu-sub" id="menu-sub-5">
    <div class="menu-sub_inner">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <ul class="menu-sub_list">
              <li class="menu-sub_list-item diia-animated">
                <a href="https://business.diia.gov.ua" class="menu-sub_list-link" target="_blank">Дія. Бізнес</a>
              </li>
              <li class="menu-sub_list-item diia-animated">
                <a href="https://osvita.diia.gov.ua" class="menu-sub_list-link" target="_blank">Дія. Цифрова освіта</a>
              </li>
              <li class="menu-sub_list-item diia-animated">
                <a href="https://vzaemo.diia.gov.ua/" class="menu-sub_list-link" target="_blank">ВзаємоДія</a>
              </li>
              <li class="menu-sub_list-item diia-animated">
                <a href="https://paperless.diia.gov.ua/" class="menu-sub_list-link" target="_blank">Paperless</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul class="menu-sub_list">
              <li class="menu-sub_list-item diia-animated">
                <a href="https://diia.data.gov.ua/" class="menu-sub_list-link" target="_blank">Дія. Відкриті дані</a>
              </li>
              <li class="menu-sub_list-item diia-animated">
                <a href="https://data.gov.ua/" class="menu-sub_list-link" target="_blank">Портал відкритих даних</a>
              </li>
              <li class="menu-sub_list-item diia-animated">
                <a href="https://bf.diia.gov.ua/" class="menu-sub_list-link" target="_blank">Дія. Безбар&#039;єрність</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>