{% extends 'templates/asc_base.html' %}
{% block content %}
  <main class="layout-main">
    <div class="layout-item">
      <!-- breadcrumbs -->
      <div class="page-breadcrumbs">
        {% block breadcrumbs %}
          {% include 'templates/includes/breadcrumbs.html' %}
        {% endblock %}
      </div>
      <div class="page_content">
        {%- block page_content -%}

        {%- endblock -%}
      </div>

      <div class="page-footer">
        {%- block page_footer -%}

        {%- endblock -%}
      </div>
    </div>
  </main>
{% endblock %}
