{% extends 'templates/web.html' %}
{% block title %}
  {{ title }}
{% endblock %}

{% block page_content %}
  <div class="website-list py-5" data-doctype="{{ doctype }}" data-txt="{{ txt or ('[notxt]'|e) }}">
    <div class="container">
      <div class="section-with-cards">
        <h2 class="section-title">{{ title }}</h2>
        <p class="section-description">Оберіть категорію, яка вас цікавить</p>
        <div class="mt-6">
          <div class="row mt-n6">
            {% for item in result %}
              {{ item }}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
